.App-link {
  color: #61dafb;
}

* { margin: 0;
  padding: 0 
}

body {
  background: #45b08c;
  margin-top: 0
}

header { 
  background: white;
  margin-top: 0;
}

#title {
  color: black;
  margin-left: 1em;
}